# GRAILS files
/web-app/WEB-INF

/target-eclipse

# IDE files
.classpath
.idea/
.project
.settings
/*.launch
/*.tmproj

*.log
*.zip
*.iml
/out
plugin.xml
.DS_Store
*.sha1

# "temporary" build files
target
build
.gradle
.nb-gradle
*.iml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar